body {
  background-color: #9ecae4;
  font-family: "Amatic SC", cursive;
  font-family: "Dosis", sans-serif;
}
.card {
  display: block;
  margin: 0 auto;
  border: solid 3px black;
  width: 600px;
  padding: 20px;
  background-color: #ffffff;
}
form {
  text-align: center;
  margin-bottom: 10px;
}
.rainbow {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.icon {
  margin: 15px;
}

.temperature {
  font-size: 60px;
  font-weight: 600px;
}

.description {
  margin: 20px;
}
.city {
  color: #8bc540;
  font-weight: bold;
  font-size: 60px;
}
.city-name {
  text-align: center;
}
.date p {
  font-size: small;
}
.humidity,
.wind {
  color: red;
}
.button {
  color: #f79220;
  border-color: #f79220;
  background-color: #ffffff;
}
.type-city {
  border-color: #f79220;
  color: #f79220;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
}
